<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.excite.mobile.shop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.excite.mobile.shop.WelcomeSliders.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.excite.mobile.shop.Activities.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.excite.mobile.shop.Registration.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c7ff41da047fa088f9c7de0bc9d2c4ff3b796ea" />

        <activity
            android:name="com.excite.mobile.shop.Activities.EarnPointDetails.ListEarnPointsMenu"
            android:label="@string/title_activity_list_earn_points_menu" />
        <activity android:name="com.excite.mobile.shop.Activities.MerchantDetails.MerchantDetails" />
        <activity android:name="com.excite.mobile.shop.Activities.ExcitePartner.ExcitePartnerMaster" />
        <activity android:name="com.excite.mobile.shop.Activities.Search.SearchActivity" />
        <activity
            android:name="com.excite.mobile.shop.Activities.RedeemPointsDetails.RedeemDetailsHome"
            android:label="@string/title_activity_redeem_details_home"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.excite.mobile.shop.Activities.ExcitePartner.ExcitePartnerList"
            android:label="@string/title_activity_excite_partner_list"
            android:theme="@style/MyMaterialTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.excite.mobile.shop.Activities.NoNetwork.NonetworkActivity"
            android:label="@string/title_activity_nonetwork"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name="com.excite.mobile.shop.Activities.Profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>