<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".WelcomeSliders.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c7ff41da047fa088f9c7de0bc9d2c4ff3b796ea" />

        <activity
            android:name=".Activities.EarnPointDetails.ListEarnPointsMenu"
            android:label="@string/title_activity_list_earn_points_menu" />
        <activity android:name=".Activities.MerchantDetails.MerchantDetails" />
        <activity android:name=".Activities.ExcitePartner.ExcitePartnerMaster" />
        <activity android:name=".Activities.Search.SearchActivity" />
        <activity
            android:name=".Activities.RedeemPointsDetails.RedeemDetailsHome"
            android:label="@string/title_activity_redeem_details_home"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Activities.ExcitePartner.ExcitePartnerList"
            android:label="@string/title_activity_excite_partner_list"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>